@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {

    background-image: url(images/back.avif);
    background-size: cover;
}

nav {
    background: rgba(255,255,255,255);
    box-shadow: 0 8px 32px 0 rgba(211, 195, 212, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(219, 190, 190, 0.18);
}

.nav-item:hover {
    background:rgba(240,240,210,40);
    box-shadow: 0 8px 32px 0 rgba(195, 164, 199, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(167, 139, 139, 0.18);
}

.btn {
    background: rgba(102, 233, 15, 0.25);
    box-shadow: 0 8px 32px 0 rgba(108, 72, 112, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(5, 5, 5, 0.18);
}

.btn:hover {
    background: rgba(88, 201, 112, 0.25);
    box-shadow: 0 8px 32px 0 rgba(69, 35, 73, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(8, 8, 8, 0.18);
    color: black;
}
input{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 2px solid rgba(7, 6, 6, 0.3);

}
input:focus {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form {
    color: white;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(52, 54, 91, 0.563);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(7, 6, 6, 0.4);
}
.logo{
    height: 30%;
    width: 30%;
}
.img-logo{
    mix-blend-mode: multiply;
    height: 30%;
    width: 30%;
}
.img{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(52, 54, 91, 0.563);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(7, 6, 6, 0.4);
}

.user-card{
    color: rgb(247, 238, 238);
    background: rgba(238, 223, 223, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(52, 54, 91, 0.563);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(8, 8, 8, 0.4);
}
.user-card:hover{
    box-shadow: 0 4px 30px rgba(52, 54, 91, 0.563);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(243, 239, 239, 0.4);
}
.footer{
    text-align: center; padding: 20px; background-color: #f1f1f1;
}